.header {
    width: 100%;
    padding: 0.8rem 1.6rem;
    background-color: var(--charleston-green);
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;

    > * {
        grid-row: 1;
    }

    &-unauthorized {
        justify-content: end;
    }

    &-add-buttons,
    &-config {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
    }

    &-config {
        justify-content: end;
    }
}
