.card {
    position: absolute;
    top: 5%;
    left: 1%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.4rem 0;
    font-weight: 100;
    font-size: 1.6rem;
    width: 35rem;
    background-color: var(--charleston-green);
    text-decoration: none;
    color: var(--ghost-white);
    z-index: 100;

    &-input {
        font-size: 1.6rem;
        width: 100%;
        padding: 0.8rem;
        border: none;
        border-radius: 0.4rem;
    }

    &-tags {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 50%;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;

        .tag {
            width: 100%;
        }
    }

    &-create {
        border-radius: 0.4rem;
        background-color: var(--ghost-white);
        color: var(--charleston-green);
        padding: 0.4rem 1.2rem;
        border: none;
        outline: none;
    }
}

.tag-container {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    flex-direction: row;
}
