.create-button {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: var(--ghost-white);
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
