.link {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.8rem;
    align-items: start;
    font-weight: 100;
    font-size: 2rem;
    background-color: var(--charleston-green);
    box-shadow: 0 0.4rem 0.4rem 0 var(--charleston-green);
    text-decoration: none;
    color: var(--ghost-white);
    transition: scale 0.2s ease-in-out;

    &:hover {
        transition: scale 0.2s ease-in-out;
        scale: (1.05);
    }

    &-scale-prevent:hover {
        scale: none;
    }

    &-heading {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    &-username {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}

.tags {
    display: flex;
    gap: 0.8rem;
}
