.link {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.8rem;
    align-items: start;
    box-shadow: 0 0.4rem 0.4rem 0;
    font-weight: 100;
    font-size: 2rem;
    background-color: var(--charleston-green);
    text-decoration: none;
    color: var(--ghost-white);
}

.tags {
    display: flex;
    gap: 0.8rem;
}
