.tag {
    height: fit-content;
    width: fit-content;
    position: relative;
    display: inline-flex;
    column-gap: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0.4rem 1.2rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    fill: var(--charleston-green);
    outline: none;
    border: none;
}

.tag-icon {
    position: absolute;
    right: 5%;
}
