:root {
    // grays
    --ghost-white: #f8f8ff;
    --ghost-white-rgb: 248, 248, 255;
    --light-placeholder: #d6d6d6; // slightly darker than ghost-white

    --charleston-green: #23272f;
    --peruvian-turquoise: #003333;
    --lavender: #c6c6ff;
    --lavender-rgb: 198, 198, 255;
    --dark-lavender-rgb: 28, 28, 102;

    --pastel-gray: #d9d3b5;

    // tags
    --medium-spring-bud: #d6e798;
    --congo-pink: #f48679;
    --pale-cornflower-blue: #afd5f4;
}
