:root {
    // grays
    --ghost-white: #f8f8ff;
    --charleston-green: #23272f;
    --peruvian-turquoise: #003333;
    --lavender: #c6c6ff;

    --pastel-gray: #d9d3b5;

    // tags
    --medium-spring-bud: #d6e798;
    --congo-pink: #f48679;
    --pale-cornflower-blue: #afd5f4;
}
