:root {
    --space-02: 0.2rem;
    --space-04: 0.4rem;
    --space-08: 0.8rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-36: 3.6rem;
    --space-48: 4.8rem;
    --space-64: 6.4rem;
}
